.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navigation__list{
    display: none;
}
.navigation__contacts {
    display: none;
}

.mobile-menu-open-btn {
    border: none;
    background-color: #fff;
    color: #000;

    &:hover,
    &:focus {
        color: var(--focus-color);
    }
}

.mobile-menu-open-btn__icon {
    fill: currentColor;
}


.mobile-menu {
    padding-left: 40px;
}

.mobile-menu__close-btn {}

.mobile-menu__close-icon {}

.mobile-menu__nav {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    
    color: var(--title-color);

    margin-bottom: 306px;
}

.mobile-menu__nav-item {

    &:not(:last-child) {
        margin-bottom: 32px;
    }
}

.mobile-menu__nav-link {
    color: inherit;

    &:hover,
    &:focus {
        color: var(--focus-color);
    }
}

.mobile-menu__contacts {
    margin-bottom: 64px;
   
}

.mobile-menu__contacts-item {
    &:not(:last-child) {
            margin-bottom: 32px;
        }
}

.mobile-menu__tel {

    font-weight: 500;
    font-size: 34px;
    line-height: 1.17;
     
    letter-spacing: 0.02em;
    
    color: #2196F3;
}

.mobile-menu__email {
    
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;
        letter-spacing: 0.02em;
    
        color: var(--contact-color);
}
.mobile-menu__contacts-link {
    color: inherit;
}

.mobile-menu__media {
    display: flex;
    flex-direction: row;

}

.mobile-menu__media-item {
        font-weight: 500;
        font-size: 18px;
        line-height: 1.22;
     
        letter-spacing: 0.02em;
    
        color: var(--focus-color);

    &:not(:last-child) {
        margin-right: 20px;
    }
}

.mobile-menu__media-link {
    color: inherit;
    

    &::after {
        content: '';
        width: 22px;
        height: 0px;
        border: 1px solid rgba(33, 33, 33, 0.2);
        transform: rotate(90deg);
    }
}
// .header {
//     border-bottom: 1px solid var(--border-line-color);
// }

// .navigation {
//     display: flex;
//     align-items: center;
// }

// .navigation__list {
//     font-weight: 500;
//     font-size: 14px;
//     line-height: 1.14;
//     letter-spacing: 0.02em;
//     color: var(--title-color);
//     display: flex;
// }

// .navigation__item {
//     position: relative;

//     &:not(:last-child) {
//             margin-right: 50px;
//         }

// }




// .navigation__link {
//     display: block;
//     padding: 32px 0;
//     color: var(--basic-color);
//     text-decoration: none;
//     transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

//     &:hover,
//     &:focus {
//             color: var(--focus-color);
    
//         }
// }


// .navigation__contacts {
//     display: flex;
//     align-items: center;
//     margin-left: auto;
// }

// .navigation__contacts-item:not(:last-child) {
//     margin-right: 50px;
// }

// .navigation__contacts-link {
//     display: flex;
//     align-items: center;
//     font-weight: 500;
//     font-size: 14px;
//     line-height: 1.14;
//     letter-spacing: 0.02em;
//     color: var(--contact-color);
//     text-decoration: none;
//     padding: 32px 0;
//     transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

//     &:hover,
//     &:focus {
//             color: var(--focus-color);
    
    
//         }
// }


// .navigation__contact-icon {
//     margin-right: 10px;
//     fill: var(--contact-color);
//     width: 16px;
//     height: 12px;

//     transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

//     .navigation__contacts-link:hover &,
//     .navigation__contacts-link:focus & {
//             fill: var(--focus-color);
    
//         }


// }



// .smartphone {
//     width: 10px;
//     height: 16px;
// }

// .current-page {
//     color: #2196F3;

//     &::after {
//         content: "";

//         position: absolute;
//         left: 0;
//         top: 100%;


//         width: 100%;
//         height: 4px;
//         background-color: var(--focus-color);
//         border-radius: 2px;

//     }


// }