
    .portfolio__nav {
            display: flex;
            flex-wrap: wrap;
          
            margin-bottom: 40px;

            gap: 15px 8px;
    
        }


        .portfolio__nav-button {
            font-family: 'Roboto';
            font-weight: 500;
            font-size: 16px;
            line-height: 1.6;
            text-align: center;
            letter-spacing: 0.03em;

            color: var(--title-color);
            background-color: #F5F4FA;

            border-radius: 4px;
            border: none;

            padding-top: 6px;
            padding-bottom: 6px;
            padding-right: 22px;
            padding-left: 22px;
    
            transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
            &:hover,
            &:focus {
                background-color: var(--focus-color);
                color: #fff;
                box-shadow: 0px 4px 4px #00000025;
    
            }
        }

   


@media screen and (min-width: 768px) {
    .portfolio__nav {
        justify-content: center;
        
        margin-bottom: 30px;
    }

    .portfolio__nav-item {
        margin-bottom: 0px;
    }
}

@media screen and (min-width: 1200px) {
    .portfolio__nav {
        margin-bottom: 50px;
    }
}