
.logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: var(--basic-color);

}

.logo__accent {
    color: var(--focus-color);
}

@media screen and (min-width: 768px)  {
        
     .header__logo{
            margin-right: 88px;
                        }
}


@media screen and (min-width: 1200px) {
    
    .header__logo {
            margin-right: 93px;
        }
}